.both{ display:none; }
body{ background:#000; }
body,html,div,a,img,canvas,span,p{ margin:0px; padding:0px;}
#game{overflow:hidden; width:100%; height:100%;  position:absolute;}
.s1,.s2,.s3,.s4,.s5,.s6,.s3_1{ display:none;}

.s1{ position:absolute; width:100%; height:100%; }

.s1Map{ position:absolute; left:50%; margin-left:-1.9rem; z-index:0; height:5.77rem; width:4.5rem; background:url(img/s1_bg.jpg) no-repeat 0px 0px/4.5rem 5.77rem;  -webkit-transform:translate(0rem,-0.3rem) scale(1.1,1.1);}

.s1Penguin{ position:absolute; top:50%; left:50%; width:0.45rem; margin-left:0.1rem; }

.s1A{ width:1.9rem; margin-left:-0.85rem; height:0.45rem; display:block; background:url(img/s1A.png) no-repeat 0px 0px/1.9rem 0.45rem; position:absolute; z-index:3; left:50%; bottom:0.4rem; overflow:hidden; opacity:0;}

.s1A img{ display:block; position:absolute; height:100%; -webkit-animation:s1AImg 5s linear infinite;}

.s1text{ position:absolute; top:0.24rem; width:100%; z-index:1; }
.s1text img{ display:block; margin:auto; margin-bottom:0.1rem; opacity:0; -webkit-transform:translate(0rem,-0.1rem);}
.s1text_1,.s1text_2{ width:1.1rem;}
.s1text_3{ width:2.13rem;}
.s1text_4{ width:2.01rem;}
.s1text_5{ width:1.46rem;}
.s1text_6{ width:2.23rem;}
.s1text_7{ width:1.95rem;}

.sp{ margin-left:-0.41rem; margin-top:-0.4rem; width:0.265rem; height:0.265rem;position:absolute; left:50%; top:50%;}

.s1_yuan{ position:absolute;  width:0.265rem; height:0.265rem; top:0rem; left:0rem;}
.s1_yuan{ position:absolute;  width:0.265rem; height:0.265rem; top:0rem; left:0rem;}
.s1_masonry{ width:0.2rem; position:absolute; left:50%; margin-left:-0.1rem; top:0.05rem;  -webkit-animation:masonry linear infinite 5s;}



@-webkit-keyframes masonry
{
0% { -webkit-transform:rotateY(0deg)}
100% { -webkit-transform:rotateY(360deg)}
}

.animate{ display:block; -webkit-animation:animate 1s linear; -webkit-animation-fill-mode:both;}
.animate .s1Map{-webkit-animation:s1Bg 5s linear; -webkit-animation-fill-mode:both;  -webkit-perspective:2rem; }
.animate .s1A{-webkit-animation:s1A 1s linear;  -webkit-animation-fill-mode:both;  -webkit-animation-delay:5s; }
.animate .s1text_1{-webkit-animation:s1Text 1s linear; -webkit-animation-delay:0s; -webkit-animation-fill-mode:both;}
.animate .s1text_2{-webkit-animation:s1Text 1s linear; -webkit-animation-delay:0.7s; -webkit-animation-fill-mode:both;}
.animate .s1text_3{-webkit-animation:s1Text 1s linear; -webkit-animation-delay:1.4s; -webkit-animation-fill-mode:both;}
.animate .s1text_4{-webkit-animation:s1Text 1s linear; -webkit-animation-delay:2.1s; -webkit-animation-fill-mode:both;}
.animate .s1text_5{-webkit-animation:s1Text 1s linear; -webkit-animation-delay:2.8s; -webkit-animation-fill-mode:both;}
.animate .s1text_6{-webkit-animation:s1Text 1s linear; -webkit-animation-delay:3.5s; -webkit-animation-fill-mode:both;}
.animate .s1text_7{-webkit-animation:s1Text 1s linear; -webkit-animation-delay:4.2s; -webkit-animation-fill-mode:both;}

.animateS1End{-webkit-animation:animateS1End 0.5s linear; -webkit-animation-fill-mode:both; }
.animateS1End .s1Penguin{-webkit-animation:s1Penguin 0.5s linear;  -webkit-animation-fill-mode:both;}

.s1_decorate_1{ width:2.255rem; position:absolute; left:50%; margin-left:-1.1227rem; top:-1.2rem; -webkit-animation:s1_decorate_1 1s linear infinite alternate;  -webkit-animation-fill-mode:both; z-index:999;}

.s1_g{ position:absolute;width:0.355rem; bottom:-0.05rem; left:50%; margin-left:-0.1775rem; -webkit-transform-origin:center bottom;  -webkit-animation:s1_g 3s linear infinite;  -webkit-animation-fill-mode:both; }
.s1_g_1{ width:0.225rem; margin-left:-0.1125rem; -webkit-animation-delay:0.6s; }
.s1_g_2{ width:0.225rem; margin-left:-0.07rem; bottom:0rem; -webkit-animation-delay:1.4s;}
.s1_g_4{ -webkit-animation-delay:2s;}

@-webkit-keyframes s1_g
{
0% { -webkit-transform:scale(0,0); opacity:0.3;}
50% { -webkit-transform:scale(1,1); opacity:1;}
80% {  opacity:1;}
100% { -webkit-transform:scale(1,1.3); opacity:0;}
}

@-webkit-keyframes s1_decorate_1
{
0% { opacity:0.3;}
100% { opacity:1;}
}

@-webkit-keyframes animate
{
0% { opacity:0}
100% { opacity:1}
}


@-webkit-keyframes animateS1End
{
0% { opacity:1}
100% { opacity:0}
}



@-webkit-keyframes s1Penguin
{
0% {  -webkit-transform:translate(0rem,0rem);}
100% {  -webkit-transform:translate(-0.2rem,-0.1rem);}
}


@-webkit-keyframes s1A
{
0% { opacity:0}
100% { opacity:1}
}

@-webkit-keyframes s1AImg
{
0% { -webkit-transform:translate(-5rem,0rem);}
100% {-webkit-transform:translate(20rem,0rem);}
}


@-webkit-keyframes s1Bg
{
0% { -webkit-transform:translate(0rem,-0.3rem) scale(1.3,1.3) rotate(-10deg);}
100% {-webkit-transform:translate(0rem,-0.5rem) scale(1,1) rotate(0deg);}
}

@-webkit-keyframes s1Text
{
0% { opacity:0; -webkit-transform:translate(0rem,0.2rem);}
100% { opacity:1; -webkit-transform:translate(0rem,0rem);}
}


/* ----------------------------------------------------------------------------------------------------*/

.s2{ background:url(img/s2_bg_2.jpg) no-repeat; background-size:100% 100%;  position:absolute; width:100%; height:100%;}

.s2 .round{ width:0.975rem; top:2.5rem; height:0.975rem; position:absolute; left:50%; margin-left:-0.4875rem; -webkit-animation:s2round 2s; -webkit-animation-fill-mode:both; }
.s2 .s2_hezi{ width:1.11rem; position:absolute; left:50%; margin-left:-0.555rem; top:3.3rem; -webkit-animation:s2_hezi 2s; -webkit-animation-fill-mode:both;  }
.s2 .round .masonry{ -webkit-animation:masonry linear infinite 5s; width:0.755rem; position:absolute; left:50%; margin-left:-0.3775rem; top:0.15rem;}
.s2 .round .roundImg{ width:100%; height:100%;}
.s2_guang{ width:1.28rem; position:absolute; top:50%; left:50%; opacity:0; margin-left:-0.635rem; margin-top:-0.635rem; -webkit-animation:s2_guang 2s 2s infinite linear;}
.s2_guang_s{-webkit-animation:s2_guang 2s 3s infinite linear;}

.s2 .text{ font-size:0.13rem; color:#fff600; line-height:0.13rem; text-align:center; font-weight:bold; top:1.13rem; position:absolute; width:100%;}
.s2 .text img,.s2 .text span{ display:inline-block;}
.s2 .num{ font-style:oblique; font-size:0.18rem;}
.s2 p{ margin-bottom:0.05rem;}
.s2 .s2_text1{ width:0.35rem;}
.s2 .s2_text2{ width:0.7rem;}
.s2 .s2_text3{ width:2.2rem;}
.s2ImgHead{ width:1.1rem; position:absolute; left:50%; margin-left:-0.55rem; top:0.3rem; }

@-webkit-keyframes s2_guang
{
0% {-webkit-transform:scale(0.8,0.8); opacity:1;}
100% {-webkit-transform:scale(1.4,1.4); opacity:0;}
}

@-webkit-keyframes s2round
{
0% {-webkit-transform:translateY(0rem);}
100% {-webkit-transform:translateY(-0.4rem);}
}

@-webkit-keyframes s2_hezi
{
0% {-webkit-transform:scale(1,1) translateY(0rem);}
100% {-webkit-transform:scale(0.8,0.8) translateY(0.2rem);}
}
/* ----------------------------------------------------------------------------------------------------*/


.s3_1{ background:url(img/s3_bg.png) no-repeat; background-size:cover; width:100%; height:100%; position:absolute;}

.s3{ background:url(img/s3_bg_3.jpg) no-repeat; background-size:cover; width:100%; height:100%; position:absolute;}

.s3_sperm{ width:3.2rem; position:absolute; left:50%; margin-left:-1.66rem; z-index:1; top:0.26rem;  height:3.8rem; background:url(img/s3_sperm.png) no-repeat 0px 0px/3.2rem 3.8rem;}

.s3_show{ width:3.2rem; left:50%; margin-left:-1.6rem; position:absolute; bottom:0px; z-index:0;  -webkit-animation:s3_show 1s linear; -webkit-animation-delay:1.5s; -webkit-animation-fill-mode:both;}

.s3_sperm_jpg{ width:1.63rem; position:absolute; z-index:2; left:50%; margin-left:-0.839rem; top:1.554rem; height:1.53rem;  -webkit-animation-fill-mode:both; -webkit-animation-delay:1s;}

.s3_text1{ width:1.72rem; left:50%; margin-left:-0.86rem; position:absolute; z-index:1; top:3.6rem; -webkit-animation:s3ButStart 0.5s ease-out; -webkit-animation-fill-mode:both;  -webkit-animation-delay:0.5s;}

.s3A{ width:1.87rem; position:absolute; left:50%; margin-left:-0.935rem; top:4.1rem; z-index:1; -webkit-animation:s3ButStart 0.5s ease-out; -webkit-animation-fill-mode:both;  -webkit-animation-delay:0.8s;}

.s3_sperm_box1{ width:0.25rem; position:absolute; left:50%; top:0.8rem; margin-left:0.35rem; height:0.44rem; overflow:hidden;}
.s3_sperm_box1_wrap{ position:absolute; width:100%;  -webkit-animation:s3_sperm_box1_wrap 1s linear infinite; -webkit-animation-delay:1.5s; -webkit-animation-fill-mode:both;}
.s3_sperm_box1 img{ width:100%; display:block;}



@-webkit-keyframes s3_sperm_box1_wrap
{
0% { -webkit-transform:translateY(0rem); }
100% { -webkit-transform:translateY(-0.44rem);}
}

.s3_sperm_box2{ width:0.3rem; left:50%; position:absolute; top:0.8rem; margin-left:-0.6rem;  -webkit-animation:s3_sperm_box2 0.3s linear ; -webkit-animation-delay:1.3s; -webkit-animation-fill-mode:both;}

@-webkit-keyframes s3_sperm_box2
{
0% { -webkit-transform:scale(1.5,1.5); opacity:0;}
70% { -webkit-transform:scale(0.7,0.7);}
100% { -webkit-transform:scale(1,1); opacity:1;}
}

.s3_sperm_box3{ width:0.185rem; height:0.185rem; position:absolute; left:50%; top:0.85rem; -webkit-animation:s3_sperm_box3 0.3s linear ; -webkit-animation-delay:1.4s; -webkit-animation-fill-mode:both;  margin-left:-0.3rem;}
.s3_sperm_box3 img{ width:100%; -webkit-animation:s3_sperm_box3_img 5s linear infinite; position:absolute; top:0px; left:0.3rem;}

@-webkit-keyframes s3_sperm_box3
{
0% { -webkit-transform:scale(0,0); opacity:0;}
70% { -webkit-transform:scale(1.5,1.5);}
100% { -webkit-transform:scale(1,1); opacity:1;}
}

@-webkit-keyframes s3_sperm_box3_img
{
0% { -webkit-transform:rotate(0deg);}
100% { -webkit-transform:rotate(360deg);}
}

.s3Box2,.s3Box3,.s3Box4,.s3Box5,.s3Box6{ display:none;}

.qq{position:absolute; width:1.75rem;left:50%;  margin-left:-0.875rem; top:1.28rem; z-index:10; height:2.02rem;}

.s3qq1{ top:0px; left:0px; position:absolute; width:1.75rem;  background:url(img/qq1.png) no-repeat 0px 0px/1.75rem 2.02rem; height:2.02rem;}

.s3_light_1{position:absolute; width:2.125rem; left:50%; margin-left:-1.0625rem; top:1.6rem;  -webkit-animation:s3_light_1 0.5s 0.5s; -webkit-animation-fill-mode:both; }

.s3_light_2{ opacity:0; position:absolute; width:2.335rem; left:50%; margin-left:-1.167rem; top:1.72rem; -webkit-animation:s3_light_2 1s alternate linear;  -webkit-animation-delay:1s; -webkit-animation-fill-mode:both; }
.s3_light_3{ opacity:0; position:absolute; width:2.86rem; left:50%; margin-left:-1.43rem; top:1.72rem; -webkit-animation:s3_light_3 1s alternate linear; -webkit-animation-delay:1.5s; -webkit-animation-fill-mode:both;}
.s3_light_4{ opacity:0; position:absolute; width:3.2rem; left:50%; margin-left:-1.6rem; top:1.72rem; -webkit-animation:s3_light_4 1s alternate linear; -webkit-animation-delay:2s;-webkit-animation-fill-mode:both;}

.s3_light_5{ width: 1.885rem; overflow:hidden; height:1.885rem; top:0.18rem; position:absolute; left:50%; margin-left:-0.9425rem;}
.s3_light_5 img{ width:100%; -webkit-animation:s3_light_5 0.4s linear; -webkit-animation-delay:1.1s;  -webkit-animation-fill-mode:both; position:absolute; top:1.9rem;}

.qq2{ width:100%; height:100%; opacity:0;  -webkit-animation:s3qq1 0.5s linear; -webkit-animation-delay:1.1s;  -webkit-animation-fill-mode:both;}
.qq2Warp{-webkit-animation:qq2Warp 1s  infinite alternate linear; -webkit-animation-delay:2s; opacity:1;  -webkit-animation-fill-mode:both;}



@-webkit-keyframes qq2Warp
{
0% { opacity:1;}
100% { opacity:0.7; }
}

@-webkit-keyframes s3qq1
{
0% { opacity:0;}
100% { opacity:1; }
}

@-webkit-keyframes s3_light_5
{
0% { -webkit-transform:translateY(0rem); }
100% { -webkit-transform:translateY(-1.885rem);}
}

@-webkit-keyframes s3_light_2
{
0% { opacity:0; }
100% { opacity:1;}
}

@-webkit-keyframes s3_light_3
{
0% { opacity:0; }
100% { opacity:1;}
}

@-webkit-keyframes s3_light_4
{
0% { opacity:0; }
100% { opacity:1;}
}


@-webkit-keyframes s3_light_1
{
0% { opacity:0; -webkit-transform:scale(0,0)}
80% { opacity:1; -webkit-transform:scale(1.2,1.2)}
100% { opacity:1; -webkit-transform:scale(1,1)}
}

.decorate_1{ width:0.06rem; height:2.75rem; position:absolute; right:0.2rem; top:0.3rem; overflow:hidden;}
.decorate_1 .img{ position:absolute; -webkit-animation:decorate_1 3s linear infinite; }
.decorate_1 img{ width:100%; display:block;}

.decorate_2{ width:0.025rem; position:absolute;  top:3rem; left:0.2rem;  -webkit-animation:decorate_2 6s linear infinite; -webkit-animation-fill-mode:both; z-index:0;}

.user{ width:0.475rem; height:0.47rem; top:0.15rem; left:0rem;  position:absolute;}
.user .decorate_4{ width:100%; height:100%; position:absolute;  -webkit-animation:decorate_4 0.5s;  -webkit-animation-delay:1.5s;  -webkit-animation-fill-mode:both;}
.decorate_3{ width:1rem; height:0.05rem;  position:absolute; top:0.07rem; left:0.2rem;}
.decorate_3 img{ display:block; left:0rem; position:absolute; bottom:0px;}
.decorate_3 img:nth-child(1){ width:0.325rem; left:0rem; -webkit-animation:decorate_3 0.1s;  -webkit-animation-delay:1.8s;  -webkit-animation-fill-mode:both;}
.decorate_3 img:nth-child(2){ width:0.155rem; left:0.285rem; -webkit-animation:decorate_3 0.1s;  -webkit-animation-delay:01.9s;  -webkit-animation-fill-mode:both;}
.decorate_3 img:nth-child(3){ width:0.155rem; left:0.43rem; -webkit-animation:decorate_3 0.1s;  -webkit-animation-delay:2s;  -webkit-animation-fill-mode:both;}
.decorate_3 img:nth-child(4){ width:0.155rem; left:0.575rem; -webkit-animation:decorate_3 0.1s;  -webkit-animation-delay:2.1s;  -webkit-animation-fill-mode:both;}
.decorate_3 img:nth-child(5){ width:0.155rem; left:0.720rem; -webkit-animation:decorate_3 0.1s;  -webkit-animation-delay:2.2s;  -webkit-animation-fill-mode:both;}

.hide{position:absolute;  left:0.2rem; width:2rem; overflow:hidden; height:1rem;}
.decorate_5{ background:url(img/decorate_5.png) no-repeat 0px 0px/0.445rem 0.44rem; width:0.455rem; height:0.44rem; top:0.2rem; position:absolute;}
.decorate_5 img{ width:80%; height:80%; border:1px solid #00a9ff; display:block; position:absolute; left:10%; top:10%; margin-left:-1px; margin-top:-1px;}
.user .name{ font-size:0.14rem; color:#F8FF00; position:absolute; left:0.5rem; top:0.21rem;}

.decorate_6{ width:1rem; position:absolute; left:0.5rem; top:0.42rem;}

.hideBox{ position:absolute; width:100%; -webkit-animation:decorate_5 0.5s;  -webkit-animation-delay:2.3s;  -webkit-animation-fill-mode:both;}

.decorate_7{ background:url(img/decorate_7.png) no-repeat 0px 0px/2.175rem 0.255rem; width:2.175rem; height:0.255rem; left:50%; margin-left:-1.0775rem; position:absolute; top:4.6rem;}

.decorate_8{ width:0.22rem; position:absolute; left:0.1rem; top:0.02rem; display:none;}
.decorate_8_2{  left:0.99rem; }

.decorate_9{ left:0.1rem;  width:0.22rem; top:0.02rem; position:absolute; display:none;}
.decorate_10{  -webkit-animation:decorate_10 1s linear infinite ;  width:0.15rem; height:0.15rem; background:rgb(52,219,255);  border-radius:50%; position:absolute; left:50%; margin-left:-0.075rem; top:0.0355rem; }
.decorate_9 .decorate_8{ left:0rem; top:0rem;}

.s3process3 .decorate_8,.s3process3 .decorate_9{ display:block;}
.s3process3 .decorate_8_2{ display:none;}

.s3process4 .decorate_9{ -webkit-animation:s3process4_decorate_9 0.5s;   -webkit-animation-fill-mode:both;}
.s3process5 .decorate_9{ -webkit-animation:s3process5_decorate_9 0.5s;   -webkit-animation-fill-mode:both;}
.s3process5 .decorate_8_2{ display:block;}

.s3process3 .qq2{  -webkit-animation:s3process5_qq2 0.4s 2s; -webkit-animation-fill-mode:both;}
.qq3{ display:none;}
.s3process3 .qq2Warp{ -webkit-animation:none;}

.s3process3 .qq3{  -webkit-animation:s3process5_qq3 0.4s 2s; -webkit-animation-fill-mode:both; display:block; width:1.38rem; left:50%; position:absolute; margin-left:-0.69rem;}

.decorate_11{ position:absolute; width:0.13rem; left:0.62rem;}

@-webkit-keyframes s3process5_qq3
{
0% { opacity:0;}
100% { opacity:1;}
}


@-webkit-keyframes s3process5_qq2
{
0% { opacity:1;}
100% { opacity:0;}
}

@-webkit-keyframes s3process4_decorate_9
{
0% { -webkit-transform:translateX(0rem);}
100% { -webkit-transform:translateX(0.89rem);}
}

@-webkit-keyframes s3process5_decorate_9
{
0% { -webkit-transform:translateX(0.89rem);}
100% { -webkit-transform:translateX(1.78rem);}
}


@-webkit-keyframes decorate_10
{
0% { -webkit-transform:scale(0,0); opacity:1;}
100% { -webkit-transform:scale(1,1); opacity:0;}
}

@-webkit-keyframes decorate_5
{
0% { -webkit-transform:translateX(-2rem);}
100% { -webkit-transform:translateX(0rem);}
}



@-webkit-keyframes decorate_4
{
0% { -webkit-transform:scale(0,0);}
80% { -webkit-transform:scale(1.2,1.2);}
100% { -webkit-transform:scale(1,1);}
}

@-webkit-keyframes decorate_3
{
0% { opacity:0}
100% { opacity:1;}
}



@-webkit-keyframes decorate_1
{
0% { -webkit-transform:translateY(0rem);}
100% { -webkit-transform:translateY(-2.75rem);}
}

@-webkit-keyframes decorate_2
{
0% { -webkit-transform:translateY(0rem); opacity:0;}
25% { -webkit-transform:translateY(-1.5rem); opacity:1;}
100% { -webkit-transform:translateY(-6rem); opacity:1;}
}

.s3process2 .s3Box2{ display:block;}
.s3process2 .qq{-webkit-animation:s3Box2 1s ease-out; -webkit-animation-fill-mode:both;}
.s3process2 .s3A{-webkit-animation:s3ButEnd 1s ease-out; -webkit-animation-fill-mode:both; -webkit-animation-delay:1.3s; z-index:10; }
.s3process2 .s3_text1{-webkit-animation:s3ButEnd 1s ease-out; -webkit-animation-fill-mode:both;  -webkit-animation-delay:1s; z-index:10;}
.s3process2 .s3_text2{ position:absolute; left:50%; z-index:7; width:1.4rem; margin-left:-0.7rem; top:1rem;  -webkit-animation:s3ButStart 0.5s ease-out; -webkit-animation-fill-mode:both;   -webkit-animation-delay:0.3s;}


.s3_bg_3{ opacity:0; z-index:-1;}


.s3process2 .s3_bg_3{  width:100%; height:100%; position:absolute; z-index:7; left:0px; top:0px; -webkit-animation:s3_bg_3 1.5s linear ; -webkit-animation-delay:0.5s; -webkit-animation-fill-mode:both; opacity:1;}
@-webkit-keyframes s3_bg_3
{
0% { opacity:0;}
100% { opacity:1;}
}



.s3A2{ position:absolute; z-index:999; width:1.62rem; left:50%; top:4rem; margin-left:-0.81rem; -webkit-animation:s3ButStart 0.5s ease-out; -webkit-animation-fill-mode:both;   -webkit-animation-delay:0.6s; }


.s3process3 .s3_text2{   -webkit-animation:s3ButEnd 0.5s ease-out; -webkit-animation-fill-mode:both;   -webkit-animation-delay:0.3s}
.s3process3 .s3_text4{ position:absolute; left:50%; z-index:7; width:2.31rem; margin-left:-1.155rem; top:1rem;  -webkit-animation:s3ButStart 0.5s ease-out; -webkit-animation-fill-mode:both;   -webkit-animation-delay:0.4s;}

.s3process3 .s3Box3{ display:block;}
.s3process3 .s3A2{-webkit-animation:s3ButEnd 1s ease-out; -webkit-animation-fill-mode:both;  z-index:13;}
.s3process3 .s3A3{ position:absolute; z-index:13; width:1.65rem; left:50%; top:4rem; margin-left:-0.81rem; -webkit-animation:s3ButStart 0.5s ease-out; -webkit-animation-fill-mode:both;  -webkit-animation-delay:0.2s;  }

.s3_body{ position:absolute; opacity:0; width:1.445rem; left:50%; margin-left:-0.7225rem; top:0.74rem;}

.s3process3 .s3_body{ position:absolute;  z-index:2;  -webkit-animation:s3_body 1s linear; -webkit-animation-fill-mode:both;   -webkit-animation-delay:0.5s}

.s3_left_hand,.s3_right_hand,.s3_right_footer,.s3_left_footer{ opacity:0;}
.s3process3 .s3_left_hand{ position:absolute; z-index:2; width:0.39rem; left:-0.02rem; top:0.79rem;  -webkit-animation:s3_left_hand 1s linear; -webkit-animation-fill-mode:both;   -webkit-animation-delay:0.6s}
.s3process3 .s3_right_hand{ position:absolute;  z-index:2; width:0.39rem; right:-0.02rem; top:0.79rem;  -webkit-animation:s3_right_hand 1s linear; -webkit-animation-fill-mode:both;   -webkit-animation-delay:0.7s;}
.s3process3 .s3_left_footer{ position:absolute;  z-index:2; width:0.78rem; left:0.16rem; top:1.7rem;  -webkit-animation:s3_body 1s linear; -webkit-animation-fill-mode:both;   -webkit-animation-delay:0.8s;}
.s3process3 .s3_right_footer{ position:absolute; z-index:2; width:0.78rem; right:0.16rem; top:1.7rem;  -webkit-animation:s3_body 1s linear; -webkit-animation-fill-mode:both;   -webkit-animation-delay:0.9s;}

@-webkit-keyframes s3_body
{
0% { opacity:0; -webkit-transform:translate(0rem,0.1rem) scale(1.1,1.1);}
50% { opacity:1; -webkit-transform:translate(0rem,0.1rem) scale(1.1,1.1);}
90% { opacity:1; -webkit-transform:translate(0rem,0.1rem) scale(1.1,1.1);}
100% { opacity:1; -webkit-transform:translate(0rem,0rem) scale(1,1);}
}

@-webkit-keyframes s3_left_hand
{
0% { opacity:0; -webkit-transform:translate(-0.2rem,-0.1rem) scale(1.1,1.1);}
50% { opacity:1; -webkit-transform:translate(-0.2rem,-0.1rem) scale(1.1,1.1);}
90% { opacity:1; -webkit-transform:translate(-0.2rem,-0.1rem) scale(1.1,1.1);}
100% { opacity:1; -webkit-transform:translate(0rem,0rem) scale(1,1);}
}

@-webkit-keyframes s3_right_hand
{
0% { opacity:0; -webkit-transform:translate(0.2rem,-0.1rem) scale(1.1,1.1);}
50% { opacity:1; -webkit-transform:translate(0.2rem,-0.1rem) scale(1.1,1.1);}
90% { opacity:1; -webkit-transform:translate(0.2rem,-0.1rem) scale(1.1,1.1);}
100% { opacity:1; -webkit-transform:translate(0rem,0rem) scale(1,1);}
}


.s3process4 .s3Box4{ display:block;}
.s3process4 .s3_text4{ -webkit-animation:s3ButEnd 0.5s ease-out; -webkit-animation-fill-mode:both;   -webkit-animation-delay:0.3s}
.s3process4 .s3_text5{ position:absolute; left:50%; z-index:7; width:2.18rem; margin-left:-1.09rem; top:0.9rem;  -webkit-animation:s3ButStart 0.5s ease-out; -webkit-animation-fill-mode:both;   -webkit-animation-delay:0.4s;}

.s3process4 .s3A3{-webkit-animation:s3ButEnd 1s ease-out; -webkit-animation-fill-mode:both;  z-index:13;}
.s3process4 .s3A4{ position:absolute; z-index:13; width:1.65rem; left:50%; top:4rem; margin-left:-0.81rem; -webkit-animation:s3ButStart 0.5s ease-out; -webkit-animation-fill-mode:both;  -webkit-animation-delay:0.2s; }

.yan{ opacity:0; width:0.62rem;  position:absolute; left:50%; margin-left:-0.31rem; top:0.36rem;}
.s3process4 .s3_head{ width:1.45rem; height:1.11rem; background:url(img/s3_head.png) no-repeat 0px 0px/1.45rem 1.11rem; position:absolute; z-index:2; left:50%; margin-left:-0.725rem; top:-0.05rem; opacity:0;  -webkit-animation:s3_head 1s linear; -webkit-animation-fill-mode:both;   -webkit-animation-delay:0.5s;}
.s3process4 .yan{ -webkit-animation:yan 0.3s ease-out; -webkit-animation-fill-mode:both;   -webkit-animation-delay:1.7s;}
.s3_light_7{ opacity:0;}
.s3process4  .s3_light_7{ width:1.2rem; position:absolute; margin-left:-0.6rem; opacity:1; left:50%; top:-0.15rem;  -webkit-animation:s3_light_7 0.5s ease-out; -webkit-animation-fill-mode:both;   -webkit-animation-delay:1.5s;}
.s3_light_8{ opacity:0;}
.s3process4 .s3_light_8,.s3process2 .decorate_12{ width:0.345rem; position:absolute; top:0.35rem; left:0.37rem;  -webkit-animation:s3_light_8 0.4s ease-out; -webkit-animation-fill-mode:both;   -webkit-animation-delay:2.5s; z-index:999; height:0.345rem;}
.s3process4 .s3_light_8_rotate,.s3process2 .decorate_12 .s3_light_8_rotate{ position:absolute; top:0rem; left:0rem; width:100%; display:block; -webkit-animation:s3_light_8_rotate infinite linear 5s;}
.s3_light_9{ opacity:0;}
.s3process4 .s3_light_9{ position:absolute; width:0.16rem; left:-0.08rem; top:0.01rem;  -webkit-animation:s3_light_9 0.4s ease-out; -webkit-animation-fill-mode:both;   -webkit-animation-delay:2.8s;}

.s3process2 .decorate_12{ z-index:2;}
.bg > .decorate_12{ left:1.9rem;}
.bg > .decorate_12 .decorate_11{ left:0.4rem; top:0.1rem;}

@-webkit-keyframes s3_light_9
{
0% { opacity:0; -webkit-transform:translateX(0.1rem)}
100% { opacity:1; -webkit-transform:translateX(0rem)}
}

@-webkit-keyframes s3_light_8_rotate
{
0% { -webkit-transform:rotate(0deg)}
100% { -webkit-transform:rotate(360deg)}
}


@-webkit-keyframes s3_light_8
{
0% { opacity:0; -webkit-transform:scale(0,0); }
100% { opacity:1; -webkit-transform:scale(1,1);}
}

@-webkit-keyframes s3_light_7
{
0% { opacity:0; }
20% { opacity:1;}
40% { opacity:0;}
60% { opacity:1;}
80% { opacity:0;}
100% { opacity:1;}
}

@-webkit-keyframes yan
{
0% { opacity:0; -webkit-transform:scaleY(0)}
100% { opacity:1; -webkit-transform:scaleY(1)}
}

@-webkit-keyframes s3_head
{
0% { opacity:0; -webkit-transform:translate(0rem,-0.3rem);}
50% { opacity:1; -webkit-transform:translate(0rem,-0.3rem) ;}
90% { opacity:1; -webkit-transform:translate(0rem,-0.3rem) ;}
100% { opacity:1; -webkit-transform:translate(0rem,0rem) scale(1,1);}
}


.s3process5 .s3Box5{ display:block;}
.s3process5 .s3A4{-webkit-animation:s3ButEnd 1s ease-out; -webkit-animation-fill-mode:both;  z-index:13;}
.s3process5 .s3A5{ position:absolute; z-index:13; width:1.65rem; left:50%; top:4rem; margin-left:-0.81rem; -webkit-animation:s3ButStart 0.5s ease-out; -webkit-animation-fill-mode:both;  -webkit-animation-delay:0.2s; }
.s3process5 .s3_text5{ -webkit-animation:s3ButEnd 0.5s ease-out; -webkit-animation-fill-mode:both;   -webkit-animation-delay:0.3s}
.s3process5 .s3_text3{ -webkit-animation:s3ButEnd 0.5s ease-out; -webkit-animation-fill-mode:both;   -webkit-animation-delay:0.5s}
.s3process5 .s3_text6{ position:absolute; left:50%; z-index:7; width:2.19rem; margin-left:-1.085rem; top:0.9rem;  -webkit-animation:s3ButStart 0.5s ease-out; -webkit-animation-fill-mode:both;   -webkit-animation-delay:0.4s;}


.s3_light_12{ opacity:0;}

.s3process5 .s3_light_12{-webkit-animation:s3_light_12 3s infinite linear;   -webkit-animation-delay:0.6s;  z-index:999; position:absolute; width:2.67rem; margin-left:-1.335rem; left:50%; top:1rem; -webkit-animation-fill-mode:both; }

.s3process5 .s3_light_12_s{  -webkit-animation-delay:2s;   }

@-webkit-keyframes s3_light_12
{
0% { opacity:0; -webkit-transform:translateY(1rem) scale(0.7,0.7);}
50% { opacity:1; -webkit-transform:translateY(0rem) scale(1,1);}
100% { opacity:0; -webkit-transform:translateY(-1rem) scale(0.7,0.7);}
}

.s3_light_6{opacity:0;}
 
.s3process5 .s3_light_6{ position:absolute; width:2.7rem;  height:2.5rem; -webkit-perspective: 3rem; left:50%; margin-left:-1.35rem; top:0.49rem;  -webkit-animation:s3_light_6 0.5s linear; -webkit-animation-fill-mode:both; -webkit-animation-delay:0.9s;}
.s3process5 .s3_light_6 img{ z-index:-1; width:100%; -webkit-animation:s3_light_6_img 30s infinite  linear; -webkit-animation-fill-mode:both; -webkit-animation-delay:0.3s;}

.s3_light_11{ width:3rem; position:absolute; margin-left:-1.5rem; left:50%; top:1.6rem; opacity:0;}
.s3process5 .s3_light_11{ -webkit-animation:s3_light_11 0.5s ease-out; -webkit-animation-fill-mode:both;  -webkit-animation-delay:1.6s;}

@-webkit-keyframes s3_light_11
{
0% { opacity:0; }
100% { opacity:1; }
}

@-webkit-keyframes s3_light_6
{
0% { opacity:0; -webkit-transform:scale(0,0);}
70% { opacity:1; -webkit-transform:scale(1.1,1.1)}
100% { opacity:1; -webkit-transform:scale(1,1) }
}

@-webkit-keyframes s3_light_6_img
{
0% { -webkit-transform: rotateX(72deg) rotate(0deg);}
100% {  -webkit-transform: rotateX(72deg) rotate(360deg);}
}

.s3_light_10{ opacity:0;}
.s3process5 .s3_light_10{ opacity:1; width:2.4rem; margin-left:-1.2rem; position:absolute; left:50%; top:-0.3rem;-webkit-animation:s3_light_10 1s infinite alternate linear; -webkit-animation-fill-mode:both; }
@-webkit-keyframes s3_light_10
{
0% { opacity:0;}
100% { opacity:1;}
}


.s3process6 .s3Box6{ display:block;}
.s3process6 .s3_text6{ -webkit-animation:s3ButEnd 0.5s ease-out; -webkit-animation-fill-mode:both;   -webkit-animation-delay:0.3s}

.s3process6 .s3A5{-webkit-animation:s3ButEnd 1s ease-out; -webkit-animation-fill-mode:both;  z-index:13;}
.s3process6 .qq{ -webkit-animation:s3process6_s3qq1 3s ease; -webkit-animation-fill-mode:both;}
.s3_bg_2{ width:100%; height:100%; position:absolute; z-index:6; -webkit-animation:s3_bg_1 1s ease-out; -webkit-animation-fill-mode:both;}

.s3process6 .s3_light_5{ -webkit-animation:s3process6_s3_light_5 1s linear; -webkit-animation-fill-mode:both; }
.s3process6 .s3_light_1{ -webkit-animation:s3process6_s3_light_5 1s linear; -webkit-animation-fill-mode:both; }

.s3_text8{ position:absolute; width:1.11rem; margin-left:-0.555rem; left:50%; z-index:7;  -webkit-animation:s3_text8 0.5s linear; -webkit-animation-fill-mode:both;   -webkit-animation-delay:0.5s; top:0.2rem;}

.s3process6 .s3A6{ position:absolute; z-index:13; width:1.65rem; left:50%; top:3.5rem; margin-left:-0.81rem; -webkit-animation:s3A6 0.5s ; -webkit-animation-fill-mode:both;  -webkit-animation-delay:2.5s; }

.s3process6 .s3A7{ position:absolute; z-index:13; width:1.65rem; left:50%; top:4rem; margin-left:-0.81rem; -webkit-animation:s3A6 0.5s ; -webkit-animation-fill-mode:both;  -webkit-animation-delay:2.7s; }
@-webkit-keyframes s3_text8
{
0% { opacity:0; -webkit-transform:translateY(0.3rem);}
100% { opacity:1; -webkit-transform:translateY(0rem);}
}
.qq_anquan{ opacity:0; }
.s3_text9{display:none;}
.s3process6 .s3_text9{ position:absolute; width:1.99rem; margin-left:-0.995rem; left:50%; z-index:7; top:2.5rem;   -webkit-animation:s3_text9 3s ease; -webkit-animation-fill-mode:both;    display:block;}


.s3process6 .qq_anquan{ width:0.79rem; position:absolute; left:50%; margin-left:-0.385rem; top:4.6rem; z-index:7; -webkit-animation:qq_anquan 0.5s linear; -webkit-animation-fill-mode:both;   -webkit-animation-delay:3.3s;}

@-webkit-keyframes qq_anquan
{
0% { opacity:0;}
100% { opacity:1;}
}

@-webkit-keyframes s3_text9
{
0% { -webkit-transform:translateY(3rem) scale(2,2); }
100% { -webkit-transform:translateY(0rem) scale(1,1);}
}


@-webkit-keyframes s3process6_s3_light_5
{
0% { opacity:1;}
100% { opacity:0;}
}

@-webkit-keyframes s3_show
{
0% { opacity:0;}
100% { opacity:1;}
}



@-webkit-keyframes s3A6
{
0% { -webkit-transform: translateY(-1rem); opacity:0;}
100% { -webkit-transform:translateY(0rem); opacity:1;}
}



@-webkit-keyframes s3process6_s3qq1
{
0% { -webkit-transform:scale(1,1) translate(0rem,0rem);}
100% { -webkit-transform:scale(0.7,0.7) translate(0rem,-1.5rem);}
}

@-webkit-keyframes s3_bg_1
{
0% { opacity:0;}
100% {  opacity:1;}
}


@-webkit-keyframes s3Box2
{
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes s3ButStart
{
0% { -webkit-transform:translateX(10rem); opacity:0;}
100% { -webkit-transform:translateX(0rem); opacity:1;}
}

@-webkit-keyframes s3ButEnd
{
0% { -webkit-transform: translateX(0rem); opacity:1;}
20% { -webkit-transform: translateX(0.5rem); }
100% { -webkit-transform:translateX(-5rem); opacity:0;}
}